<%= form_for(@payment, :method => "post", :url => "https://www.sandbox.paypal.com/cgi-bin/webscr") do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :transaction_id %>

  <%= f.hidden_field :currency_id, :value => 1 %>

  <%= f.hidden_field :payment_type_id, :value => 1 %>

  <input type="hidden" name="cmd" value="_xclick" />
  <input type="hidden" name="business" value="seller_1361816388_biz@mikedhart.co.uk" />
  <input type="hidden" name="amount" value="<%= @subscription.subscription_type.cost %>">
  <input type="hidden" name="item_name" value="<%= @subscription.subscription_type.name %>">
  <input type="hidden" name="currency_code" value="GBP" />

  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount, :readonly => true, :value => @subscription.subscription_type.cost %>
  </div>
  <div class="actions">
    <%= f.submit "Pay with Paypal", :class => "btn btn-primary" %>
  </div>
<% end %>
