<p id="notice"><%= notice %></p>

<p>
  <b>Subscription type:</b>
  <%= @subscription.subscription_type_id %>
</p>

<p>
  <b>User:</b>
  <%= @subscription.user_id %>
</p>

<p>
  <b>Renew at:</b>
  <%= @subscription.renew_on %>
</p>


<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
